/* src/App.css */
.App {
  text-align: center; /* Centers the content horizontally */
  display: flex;      /* Allows you to use flexbox */
  flex-direction: column; /* Stacks the elements vertically */
  justify-content: top;/*Vertically tops the content */
  height: 200vh;
  background-color: #111111; /* Full viewport height */
}

.App-header {
  margin-top: 20px; /* Optional: adds margin at the top */
}

h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px; /* Space between title and button */
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker shade on hover */
}
